doctype transitional
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=iso-8859-1')
    title Untitled Document
  body
    table(width='100%', cellpadding='0', cellspacing='0')
      tbody
        tr
          td(style='width:100%;margin:0;padding:0;background-color:#fff', align='center')
            table(width='100%', cellpadding='0', cellspacing='0')
              tbody
                tr
                  td(style='width:100%;margin:0;padding-bottom:38px;background-color:#fff', width='100%')
                    table(style='width:auto;max-width:870px;margin:0 auto;padding:0', align='center', width='600', cellpadding='0', cellspacing='0')
                      tbody
                        tr
                          td(style='padding:35px;')
                            a(style='font-size:16px;font-weight:bold;color:#2f3133;text-decoration:none', href=loginurl, target='_blank', data-saferedirecturl='#')
                              img.CToWUd(src='https://marketing-image-production.s3.amazonaws.com/uploads/5ed047d62402c553ec2ccfa44037315b329b54e85308ace14253b09438e477bac4040296b3ade9d2aefc687e947b40f4d3f003fac76a922296d4f4d5342de3bb.jpg', style='width:400px;height:200px;margin-bottom:50px;margin-top: -30px; margin-left:30%;')
                            h3(style='margin-top:0;font-family:Arial, Helvetica, sans-serif; color:#320f49; font-size:28px;line-height:27px;width:567px;height:40px;text-align:left;letter-spacing:0.01em; font-weight:900') Hi #{username}
                            p(style='margin-top:0;font-family:Arial, Helvetica, sans-serif; color:#000; font-size:18px;line-height:27px;width:567px;height:40px;text-align:left;letter-spacing:0.01em;')
                              | Here are some of the highlights you've missed on PeersView:
                            h3(style='margin-top:0;font-family:Arial, Helvetica, sans-serif; color:#320f49; font-size:24px;line-height:27px;width:567px;height:10px;text-align:left;letter-spacing:0.01em; font-weight:600; margin-bottom:36px;')
                              | Latest Activities:
                              br
                              br
                            #{posts}
                            h3(style='margin-top:45px;font-family:Arial, Helvetica, sans-serif; color:#320f49; font-size:24px;line-height:27px;width:567px;height:20px;text-align:left;letter-spacing:0.01em; font-weight:600; margin-bottom:36px;')
                              | What are signs of high IQ in an
                              br
                              | individual, both positive and negative?
                              br
                            p(style='margin-top:0;font-family:Arial, Helvetica, sans-serif; color:#000; font-size:18px;line-height:27px;width:567px;height:40px;text-align:left;letter-spacing:0.01em;')
                              img(src='https://marketing-image-production.s3.amazonaws.com/uploads/5ed047d62402c553ec2ccfa44037315b329b54e85308ace14253b09438e477bac4040296b3ade9d2aefc687e947b40f4d3f003fac76a922296d4f4d5342de3bb.jpg', width='50', height='50', style='border-radius:50%; margin-top:10px; margin-right:10px;')
                              span(style='font-family:Arial, Helvetica, sans-serif; font-size:25px; font-weight:600; margin-bottom:45px; bottom: 25px;position: relative;')
                                | Artem Isaev
                                br
                                span(style='margin-top:0;font-family:Arial, Helvetica, sans-serif; color:#999999; font-size:12px;line-height:27px;width:567px; margin-top:10px;text-align:right;letter-spacing:0.01em; margin-left: 65px;    position: relative;\
                                top: -5px;') Posted on July 25, 2019.
                            p(style='margin-top:0;font-family:Arial, Helvetica, sans-serif; color:#000; font-size:18px;line-height:27px;width:567px;height:10px;text-align:left;letter-spacing:0.01em;')
                            ol(style='color:#333333; font-size:18px;')
                              li Tendency to jumb around in conversation.
                              li
                                | A certain distance.Like they're not entirely
                                br
                                | there with you.
                              li They collect interesting 'friends'.
                              li Kindness....
                            a(href=loginurl, style='color:#418be2;font-size:18px;text-decoration:none; margin-left:20px; ', target='_blank', data-saferedirecturl='#')
                              | Read more
                              span(style='font-size: 10px;margin-left: 2px;')
                            p
                    br
